
@import '../../../../assets/css/variables.scss';

.post-container {
    background-image: url('../../../../assets/images/unsplash-photo-1.jpg') !important;
    background-position: center !important;
    background-blend-mode: multiply;
}