<div appHoverHightlight [hightLightColor]="postData?.color"
  class="post-container card card-cover h-100 overflow-hidden text-white rounded-5">
  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ postData?.pantone_value }}</h2>
    <ul class="d-flex list-unstyled mt-auto">
      <li class="me-auto" (click)="onClickMoonIcon()">
        <img [src]="this.stateOfMoon" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
      </li>
      <li class="d-flex align-items-center me-3">
        <svg class="bi me-2" width="1em" height="1em">
          <use xlink:href="#geo-fill" />
        </svg>
        <small class="post-name">{{ postData?.name || '' | randomUppperCase:randomIndexUpper }}</small>
      </li>
      <li class="d-flex align-items-center">
        <svg class="bi me-2" width="1em" height="1em">
          <use xlink:href="#calendar3" />
        </svg>
        <small class="post-id" *ngIf="postData?.id">{{ postData?.id }}d</small>
      </li>
    </ul>
  </div>
</div>