
@import '../../../assets/css/variables.scss';

.login-container {
    height: calc(100vh);
}

.login-form {
    border-radius: 8px;
    position: relative;
    height: 160px;
}

.btn-login {
    position: absolute;
    right: -40px;
    width: 80px;
    height: 80px;
    .btn-login-icon-layout {
        width: 60px;
        height: 60px;
    }
}